@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudDrawer Elevation="3" Color="Color.Primary" Width="70px" Breakpoint="Breakpoint.Sm" ClipMode="DrawerClipMode.Never" Open Fixed>
        <CustomNavLink Icon="@Icons.Material.Filled.Home" IconColor="Color.Inherit" Href="/">Home</CustomNavLink>
    
        <MudSpacer />
        
        <LoginView />
    </MudDrawer>
    <MudMainContent Style="padding-top: 0;">
        <div class="pa-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>